Cython==0.29.23
docdata==0.0.3
fastdist==1.1.2
fuzzy-c-means==1.4.0
greenlet==1.1.0
jax==0.2.16
jaxlib==0.1.68
joblib==1.0.1
kiwisolver==1.3.1
llvmlite==0.36.0
Mako==1.1.4
MarkupSafe==2.0.0
marshmallow==3.12.1
marshmallow-enum==1.5.1
matplotlib==3.4.2
numba==0.53.1
opt-einsum==3.3.0
optuna==2.7.0
packaging==20.9
pandas==1.2.4
pbr==5.6.0
Pillow==8.2.0
prettytable==2.1.0
pykeen==1.8.1
PyYAML==5.4.1
scikit-learn==0.24.2
scipy==1.7.0
sklearn==0.0
tqdm==4.60.0
wcwidth==0.2.5
